.word-carousel {
    display: flex;
    justify-content: center;
    align-items: center;

}

.word-carousel button {
    background-color: #483D8B;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.word-carousel button:hover {
    background-color: #2F4F4F;
}