.word-card {
    width: 20em;
    height: 10rem;
    background-color: #8FBC8F;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.word-card p {
    font-size: 25px;
    margin: 10;

}

.word-card p:last-child {
    font-style: italic;
}